


  <div class="container">
          <div style="float: left; width: 50%; padding-left: 90px;">

        <h1><strong>Customer Support Center</strong></h1></div>

      <div style="width:30%; float: right;">
        <img src="/assets/img.jpg" alt="img" height="80px" width="150px">
      </div>
    <br><br>
    <h2>Contact Information</h2>
    <h5>please fill out your contact information below</h5>
      <div class="input-field">
    <label for="name">Name*</label>
    <br>
    <input type="text" placeholder="First Name">
    
    <input type="text" id = "lastname" placeholder="Last Name">
  
    <div class="input-field1" style="margin-top: 10px;">
      <label for="email">Email*</label>
      <br>
      <input type="text">
    </div>

    <div class="input-field1">
      <label for="phone">Phone*</label>
      <br>
      <input type="text">
    </div>

    <div class="input-field1">
      <label for="address">Address*</label>
      <br>
      <input type="text">
    </div>
  </div>


